- @message.each do |message|
  .Message__box__center__text
    - if message.user.name == "町民"
      .Comment-image
        = icon("far fa-envelope",class: "qicon")
    - else
      .Comment-image
        = icon("far fa-envelope-open",class: "qicon")
    .Message__box__center__text__info
      .Comment-name
        .Name 
          = message.user.name
        .Time 
          = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .Comment-text
        .Textmessage
          %p.Textmessage__content
            = message.content
          = image_tag message.image.url, class: 'Message__image' if message.image.present?