= render 'home/header'

.Wrapper
  .Wrapper__inner
    .Wrapper__inner__title 
      %h2.title 町のお知らせを投稿
    .Wrapper__inner__tweet
      = form_with(model: @tweet, local: true) do |f|
        = render 'layouts/error_message',model: f.object
        .tweet-name
          タイトル
          %span.indispensable 必須
        = f.text_field :name, class:"tweet-text", placeholder:"40文字以内の入力"
        .tweet-name
          タグ
          %span.any 任意
          %span.comma ※カンマで区切ってください
        = f.text_field :tag_list, value: @tweet.tag_list.join(','), class: "tweet-text"
        .tweet-name
          投稿画像
          %span.indispensable 必須
        = f.file_field :image,class:"tweet-image"
        .tweet-name
          場所
          %span.any 任意
        = f.text_field :address, class:"tweet-text"
        .tweet-name
          内容
          %span.indispensable 必須
        = f.text_area :text ,class:"tweet-text1", placeholder:"230文字以内の入力"
        .tweet-submit
          = f.submit "投稿" ,class:"sell-btn"


