= render 'divisions/header'

.Wrapper
  .Wrapper__content
    .Wrapper__content__show
      .Wrapper__content__show__left
        %p.contributor 投稿者
        = image_tag("sora1.jpg",class:"contributor-image")
        .Wrapper__content__show__left__edit
        - if user_signed_in?
          - if @tweet.user_id == current_user.id
            = link_to(edit_tweet_path,method: :get) do
              .edit-btn
                .edit-btn-content
                  = icon('fas', 'edit')
                  = '投稿を編集する'
            .Wrapper__content__show__left__destroy
            = link_to(tweet_path(@tweet.id),method: :delete) do
              .edit-btn
                .edit-btn-content
                  = icon('fas', 'trash')
                  = '投稿を削除する'
      .Wrapper__content__show__right
        .show-title
          = @tweet.name
        .show-like 
          = render partial: 'likes/index', locals: { tweet: @tweet }
        .show-tag
          %span.tag #タグ
        .show-image
          = image_tag @tweet.image.url,class:"show-image1" if @tweet.image.present?
          -# = image_tag("sora1.jpg",class:"show-image1")
        .show-text
          = icon("fas fa-pen", class: "text-icon")
          内容
          .box
            = @tweet.text
        .show-map
          .map-text
            = icon("fas fa-map-marked-alt", class: "map-icon")
            地図
          = image_tag("sora1.jpg",class:"show-map1")
      .Wrapper__content__show__comment
        - if current_user
          = form_with(model: [@tweet,@comment], local: true,id: "new_comment") do |f|
            = f.text_area :text, placeholder: "コメントする(40文字以内)", rows: "2" ,class: "textbox",maxlength:"40"
            = f.submit "SEND", class: "form__submit"
        - else
          %strong
            %p ※コメントの投稿には新規登録/ログインが必要です※
        .Wrapper__content__show__comment__list
          %h4 ＜コメント一覧＞
          - if @comments
            - @comments.each do |comment|
              %p.commentdate
                %strong.commentname
                  = comment.user.name
                  ：
                = comment.text

