%header.top-page-header
  .header-logo
    = link_to image_tag("t.png", class:"t-icon"), "/"
    %span.logo .town
  .content
    .gest
      .icon
        = icon("fas fa-user-cog", class: "icon")
      %ul.content__gest
        %li
          = link_to destroy_user_session_path, method: :delete do
            = icon("fas fa-angle-double-right", class: "icon")
            ="ログアウト"
    .gest
      .icon
        = icon("far fa-paper-plane", class: "icon")
      %ul.content__gest
        %li
          = link_to tweets_path, method: :get do
            = icon("fas fa-angle-double-right", class: "icon")
            ="投稿一覧"
          = link_to new_tweet_path, method: :get do
            = icon("fas fa-angle-double-right", class: "icon")
            ="新規投稿"
    .gest
      .icon
      = link_to messages_path,class:"icon", method: :get do
        = icon("fas fa-envelope", class:  "icon")

.Wrapper
  .Wrapper__inner
    .Wrapper__inner__name
      .title
        = @name
        さんの投稿一覧
      .editbtn
        = link_to 'Edit', edit_user_path ,class: "editlink"
    .Wrapper__inner__user
      - @tweets.each do |tweet|
        .Tweetdate
          = link_to tweet_path(tweet.id),method: :get,class:"tweet" do
            .Tweet__content__right__tweet
              .Form__left
                = image_tag tweet.image.url,class:"tweetimage" if tweet.image.present?
              .Form__right
                .Form__right__name
                  = tweet.name
                .Form__right__like
                  = "いいね数："
                  = tweet.likes.count
                .Form__right__text
                  %h2.text-name 内容：
                  .content
                    = tweet.text 
