= render 'header'

%section.main1
  = image_tag("k.png",class:"main-logo")

.Content
  .Content__google
  .Content__text 
    %h2.Content__text__name T.townとは？
    %p.Content__text__box 
      これは
      %br 和歌山県太地町の行政相談に関するアプリですああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああああ

.Division
  .Division__text
    = icon("fas fa-envelope", class: "notice-icon")
    %h1 行政相談メッセージ
  .Division__content 
    .Division__content__image
      = link_to("#",class:"image1") do
        %span.division 総務課
      = link_to("#",class:"image2") do
        %span.division 住民福祉課
      = link_to("#",class:"image3") do
        %span.division 産業建設課
      = link_to("#",class:"image4") do
        %span.division 教育委員会
      = link_to("#",class:"image5") do
        %span.division その他

.Tweet
  .Tweet__text
    = icon("fas fa-bell", class: "notice-icon")
    %h1 町のお知らせ
  .Tweet__content
    .Tweet__content__box
    .Tweet__content__box

= render 'footer'